.App-header {
  margin: 10px 0;
}
.App-footer {
  text-align: left;
  margin: 10px 0;
}
.App {
  color: white;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 20px;
}
body {
  background: #151983;
  margin: 20px;
  font-family: 'Work Sans', sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-family: 'Radley', serif;
  font-style: bold italic;
  font-size: 40px;
}
i {
  font-size: 16px;
  opacity: 0.8;
}