.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 250px;
  display: block;
}
.App-footer {
  text-align: left;
  margin: 30px 0;
}
.App {
  color: white;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
}
body {
  background: #151983;
  margin: 20px;
  font-family: 'Work Sans', sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-family: 'Radley', serif;
  font-style: italic;
}