body {
    text-align: left;
    background: #151983;
}
.Dictionary section {
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid rgba(255,255,255, 0.5);
}
.Dictionary input {
    width: 300px 100%;
    border-radius: 6px;
    padding: 6px 4px;
    color: #333;
}
.Dictionary .Hint {
    font-size: 14px;
    margin-top: 5px;
}
.Dictionary button {
    margin: 10px;
    padding: 7px;
    background: transparent;
    color: white;
}
