body {
    text-align: left;
    background: #151983;
    color: black;
}
.Dictionary section {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 20ox 0;
}
.Dictionary input {
    width: 300px;
    border-radius: 6px;
    padding: 6px 4px;
    border: 1px solid #ddd;
    color: #333;
}
.Dictionary .hint {
    font-size: 10px;
    color: black;
    margin-top: 5px;
}
