body {
    text-align: left;
    background: #151983;
}
.Dictionary section {
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid rgba(255,255,255, 0.5);
}
.Dictionary input {
    width: 300px;
    border-radius: 6px;
    padding: 6px 4px;
    color: #333;
    box-sizing: none;
}
.Dictionary form {
    overflow: hidden;
    white-space: nowrap;
}
.Dictionary .search-field {
    width: 60%;
    display: inline-flex;
}
.Dictionary .Hint {
    font-size: 14px;
    margin-top: 5px;
}
.Dictionary button {
    margin: 0 10px 8px;
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, .7);
    text-decoration: none;
    font-size: 12px;
    padding: 8px 18px;
    border-radius: 20px;
    transition: all 100ms ease-in-out;
}
.Dictionary i {
    font-size: 20px;
}
.Dictionary button:hover {
    background: white;
    color: black;
}